<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.MemberMapper">

	<resultMap type="org.zerock.model.MemberVO" id="memberMap">
		<id property="userid" column="userid"/>
		<result property="userid" column="userid"/>
		<result property="password" column="password"/>
		<result property="name" column="name"/>
		<result property="agencyCode" column="agency_code"/>
		<result property="address" column="address"/>
		<result property="mobile" column="mobile"/>
		<result property="enabled" column="enabled"/>
		<result property="addressDetail" column="address_detail"/>
		<result property="authorization" column="authorization"/>
		<result property="createDatetime" column="create_datetime"/>
		<result property="updateDatetime" column="update_datetime"/>
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>
	
	<resultMap type="org.zerock.model.AuthVO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<select id="read" resultMap="memberMap">
		SELECT
		    m.userid, m.password, m.name, m.address, m.address_detail, m.mobile, 
		    m.enabled, m.authorization, m.create_datetime, m.update_datetime, a.auth
		FROM
		    tb_member AS m, tb_authority AS a
		WHERE
		    m.userid = a.userid AND
		    m.userid = #{userid}
	</select>
	
	<select id="readList" resultMap="memberMap">
		SELECT
		    m.userid, m.password, m.name, m.address, m.address_detail, m.mobile, 
		    m.enabled, m.authorization, m.create_datetime, m.update_datetime, a.auth
		FROM
		    tb_member AS m, tb_authority AS a
		WHERE
		    m.userid = a.userid AND
	</select>
	
	<insert id="insertMember">
		INSERT INTO tb_member(userid, password, name, agency_code, service, address, address_detail, zip_code, mobile)
		VALUES (#{userid}, #{password}, #{name}, #{agencyCode}, #{service}, #{address}, #{addressDetail}, #{zipCode}, #{mobile})
	</insert>
	
	<insert id="insertAuth">
		INSERT INTO tb_authority(userid, auth)
		VALUES (#{userid}, #{auth})
	</insert>
	
	<update id="updateMember">
		UPDATE tb_member
		SET userid = #{userid},
			password = #{password},
			name = #{name},
			agency_code = #{agencyCode},
			service = #{service},
			address = #{address},
			address_detail = #{addressDetail},
			zip_code = #{zipCode},
			mobile = #{mobile},
			authorization = #{authorization}
		WHERE userid = #{userid} 
	</update>
	
	<update id="updateAuth">
		UPDATE tb_authority
		SET userid = #{userid},
			auth = #{auth}
		WHERE userid = #{userid} 
	</update>
	
	<delete id="deleteMember">
		DELETE
		FROM tb_member
		WHERE userid = #{userid}
	</delete>
	
	<delete id="deleteAuth">
		DELETE
		FROM tb_authority
		WHERE userid = #{userid}
	</delete>
</mapper>